/* This is an external CSS file that styles HTML elements */
h1{color: blue; text-align: center; font-family: 'Times New Roman', Times, serif;}
p{color: #1eadf5; background-color: antiquewhite; height: auto; width: 500px;}
span{color:#29e6e6; background-color: blue; height: auto; width: 48%; display: inline-block;}
div{color: red; background-color: yellow; height: 100px; width: 48%; display: inline-block;}